<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="h3">Danh sách Sản phẩm</h1>
        <button class="btn btn-primary">
            <a style="text-decoration: none; color: white" th:href="@{/product/create}">Thêm</a>
        </button>
    </div>

    <form class="row mb-3" method="get" th:action="@{/product}">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Nhập tên" name="name"/>
        </div>
        <div class="col-md-3">
            <input type="number" class="form-control" placeholder="Giá từ" name="priceFrom"/>
        </div>
        <div class="col-md-3">
            <select class="form-select" name="type" onchange="this.form.submit()">
                <option value="">--Loại Sản Phẩm--</option>
                <option
                        th:each="pt : ${productTypeList}"
                        th:value="${pt.id}"
                        th:text="${pt.name}"
                        th:selected="${pt.id == selectedType}"></option>
            </select>
        </div>
        <div class="col-md-3 d-flex gap-2">
            <button class="btn btn-secondary" type="reset" href="/product" >Reset</button>
            <button class="btn btn-success" type="submit">Tìm</button>
        </div>
    </form>

    <!-- Product Table -->
    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th scope="col">STT</th>
            <th scope="col">
                <input id="selectAll" type="checkbox" onclick="selectAll()"/>
            </th>
            <th scope="col">Tên</th>
            <th scope="col">Giá Bắt Đầu</th>
            <th scope="col">Loại</th>
            <th scope="col">Tình Trạng</th>
            <th scope="col">Hành Động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, status : ${productList}">
            <th scope="row" th:text="${status.count}"></th>
            <td>
                <input class="product-checkbox" type="checkbox" name="selectedProducts" th:value="${product.id}" />
            </td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.startingPrice}"></td>
            <td th:text="${product.productType.name}"></td>
            <td th:text="${product.status}"></td>
            <td>
                <button class="btn btn-sm btn-info">
                    <a style="text-decoration: none; color: white" th:href="@{/product/update/{id}(id=${product.id})}">Sửa</a>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="mt-3">
        <button class="btn btn-danger" onclick="deleteProduct()">Xóa</button>
    </div> <br>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#">Trước</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Sau</a>
            </li>
        </ul>
    </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function selectAll() {
        let selectAllCheckbox = document.getElementById('selectAll');
        let productCheckboxes = document.getElementsByClassName('product-checkbox');
        for(let cb of productCheckboxes) {
            cb.checked = selectAllCheckbox.checked;
        }
    }

    function deleteProduct() {
        let idList = [];
        let productCheckboxes = document.getElementsByClassName('product-checkbox');
        for(let cb of productCheckboxes) {
            if(cb.checked)
                idList.push(cb.value);
        }

        $.ajax({
            url: `http://localhost:8080/product`,
            type: `DELETE`,
            contentType: 'application/json',
            data: JSON.stringify(idList),
            success: function () {
                location.reload();
            },
            error: function () {
                alert('Có lỗi xảy ra khi xóa sản phẩm');
            }
        })
    }
</script>

</body>
</html>
